{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:be.container>

<f:render partial="Help/Menu" arguments="{helpChecked: helpChecked}" />

<div id="typo3-docbody">
	<div id="typo3-inner-docbody">


		<h2>Pregled</h2>
		
		<div>

		<!-- Section header -->
		<h3 class="uppercase">Kategorije pomoči</h3>

		<!-- Section content -->
			<dl class="t3-overview-list">
				<dt>
					<a href="mod.php?&id=0&M=help_A3EktHelp&tx_a3ekt_help_a3ekthelp%5Baction%5D=helpPrimarne"><img src="sysext/reports/mod/moduleicon.gif" width="16" height="16">Primarne EUGO vsebine</a>
				</dt>
				<dd>Urejanje primarnih vsebin EUGO portala.</dd>
				<dt>
					<a href="mod.php?&id=0&M=help_A3EktHelp&tx_a3ekt_help_a3ekthelp%5Baction%5D=helpSekundarne"><img src="sysext/reports/mod/moduleicon.gif" width="16" height="16">Sekundarne EUGO vsebine</a>
				</dt>
				<dd>Urejanje sekundarnih vsebin EUGO portala.</dd>
				<dt>
					<a href="mod.php?&id=0&M=help_A3EktHelp&tx_a3ekt_help_a3ekthelp%5Baction%5D=helpOsnovno"><img src="sysext/reports/mod/moduleicon.gif" width="16" height="16">Osnovno delo z TYPO3 vmesnikom</a>
				</dt>
				<dd>Osnovno delo z TYPO3 vmesnikom (ang. Jezik).</dd>
			</dl>
			</div>
		</div>
</div>

</f:be.container>