{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:be.container>

<f:render partial="Help/Menu" arguments="{helpChecked: helpChecked}" />

<div id="typo3-docbody">
	<div id="typo3-inner-docbody">
		
		<h2>Sekundarne EUGO vsebine</h2>
		
		<ul class="index">
			<li><a href="#kreiranje_povezav_na_EUGO_vsebine_iz_navadnega_besedila">Kreiranje povezav na EUGO vsebine iz navadnega besedila</a></li>
			<li><a href="#urejanje_okvirjev_na_vhodni_strani">Urejanje okvirjev na vhodni strani</a></li>
			<li><a href="#prevajanje_sekundarnih_vsebin_v_angleski_jezik">Prevajanje sekundarnih vsebin v angleški jezik</a></li>
			<li><a href="#urejanje_tabel_in_dolocanje_stilov">Urejanje tabel in določanje stilov</a></li>
		</ul>
		
		<hr/>
		
		<div class="frame screencast">
			<a name="kreiranje_povezav_na_EUGO_vsebine_iz_navadnega_besedila"><h2>Kreiranje povezav na EUGO vsebine iz navadnega besedila</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_okvirjev_na_vhodni_strani"><h2>Urejanje okvirjev na vhodni strani</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="prevajanje_sekundarnih_vsebin_v_angleski_jezik"><h2>Prevajanje sekundarnih vsebin v angleški jezik</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_tabel_in_dolocanje_stilov"><h2>Urejanje tabel in določanje stilov</h2></a>
			{screen cast here}
		</div>
		
	</div>
</div>

</f:be.container>