{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:be.container>

<f:render partial="Help/Menu" arguments="{helpChecked: helpChecked}" />

<div id="typo3-docbody">
	<div id="typo3-inner-docbody">
		
		<h2>Primarne EUGO vsebine</h2>

		<ul class="index">
			<li><a href="#urejanje_EKT_Povezave_Poklicev">Urejanje EKT Povezave Poklicev</a></li>
			<li><a href="#urejanje_EKT_Povezave_Pogojev">Urejanje EKT Povezave Pogojev</a></li>
			<li><a href="#urejanje_ostalih_EUGO_elementov">Urejanje ostalih EUGO elementov</a></li>
			<li><a href="#prevajanje_EUGO_gradnikov_v_angleski_jezik">Prevajanje EUGO gradnikov v angleški jezik</a></li>
		</ul>
		
		<hr/>
		
		<div class="frame screencast">
			<a name="urejanje_EKT_Povezave_Poklicev"><h2>Urejanje EKT Povezave Poklicev</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_EKT_Povezave_Pogojev"><h2>Urejanje EKT Povezave Pogojev</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_ostalih_EUGO_elementov"><h2>Urejanje ostalih EUGO elementov</h2></a>
			{screen cast here}
		</div>
		
		<div class="frame screencast">
			<a name="prevajanje_EUGO_gradnikov_v_angleski_jezik"><h2>Prevajanje EUGO gradnikov v angleški jezik</h2></a>
			{screen cast here}
		</div>
		
	</div>
</div>

</f:be.container>