{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:be.container>

<f:render partial="Help/Menu" arguments="{helpChecked: helpChecked}" />

<div id="typo3-docbody">
	<div id="typo3-inner-docbody">

		<h2>Osnovno delo z TYPO3 vmesnikom</h2>

		<ul class="index">
			<li><a href="#osnovni_koncepti">Osnovni koncepti</a></li>
			<li><a href="#ikone_in_kliki">Ikone in kliki</a></li>
			<li><a href="#urejanje_strani">Urejanje strani</a></li>
			<li><a href="#lastnosti_strani">Lastnosti strani</a></li>
			<li><a href="#osnovni_aspekti_gradnikov_vsebine">Osnovni aspekti gradnikov vsebine</a></li>
			<li><a href="#tipi_gradnikov_vsebine">Tipi gradnikov vsebine</a></li>
			<li><a href="#slike_preko_gradnikov_vsebine">Slike preko gradnikov vsebine</a></li>
			<li><a href="#kreiranje_obrazcev">Kreiranje obrazcev</a></li>
			<li><a href="#osnovni_aspekti_urejanja_za_RTE_urejevalnikov">Osnovni aspekti urejanja za RTE urejevalnikov</a></li>
			<li><a href="#gumbi_v_RTE_urejevalniku">Gumbi v RTE urejevalniku</a></li>
			<li><a href="#dolocanje_povezav_v_RTE_urejevalniku">Določanje povezav v RTE urejevalniku</a></li>
			<li><a href="#slike_v_RTE_urejevalniku">Slike v RTE urejevalniku</a></li>
			<li><a href="#tabele_v_RTE_urejevalniku">Tabele v RTE urejevalniku</a></li>
			<li><a href="#urejanje_vsebin_preko_FE_vmesnika">Urejanje vsebin preko FE vmesnika</a></li>
			<li><a href="#modul_stran">Modul stran (ang. Page)</a></li>
			<li><a href="#modul_seznam">Modul seznam (ang. List)</a></li>
			<li><a href="#primerjava_modula_seznam_in_stran">Primerjava modula seznam in stran (ang. List in Page)</a></li>
			<li><a href="#urejanje_datotek">Urejanje datotek</a></li>
			<li><a href="#dodatne_informacije_o_datotekah">Dodatne informacije o datotekah</a></li>
			<li><a href="#vkljucevanje_datotek">Vključevanje datotek (ang. Element browser)</a></li>
		</ul>
		
		<hr/>
		
		<div class="frame screencast">
			<a name="osnovni_koncepti"><h2>Osnovni koncepti</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/basics/basics_concepts.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="ikone_in_kliki"><h2>Ikone in kliki</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/basics/basics_icons_clicks.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_strani"><h2>Urejanje strani</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/pages/pages_administration.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="lastnosti_strani"><h2>Lastnosti strani</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/pages/pages_page_properties.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="osnovni_aspekti_gradnikov_vsebine"><h2>Osnovni aspekti gradnikov vsebine</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/content/contents_basics.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="tipi_gradnikov_vsebine"><h2>Tipi gradnikov vsebine</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/content/contents_types.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="slike_preko_gradnikov_vsebine"><h2>Slike preko gradnikov vsebine</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/content/contents_images.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="kreiranje_obrazcev"><h2>Kreiranje obrazcev</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/content/contents_forms.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="osnovni_aspekti_urejanja_za_RTE_urejevalnikov"><h2>Osnovni aspekti urejanja za RTE urejevalnikov</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_basics.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="gumbi_v_RTE_urejevalniku"><h2>Gumbi v RTE urejevalniku</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_buttons.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="dolocanje_povezav_v_RTE_urejevalniku"><h2>Določanje povezav v RTE urejevalniku</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_hyperlinks.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="slike_v_RTE_urejevalniku"><h2>Slike v RTE urejevalniku</h2></a>
			<h3>1.del</h3>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_images_1.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
			<h3>2.del</h3>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_images_2.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="tabele_v_RTE_urejevalniku"><h2>Tabele v RTE urejevalniku</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/rte/rte_tables.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_vsebin_preko_FE_vmesnika"><h2>Urejanje vsebin preko FE vmesnika</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/interfaces/interfaces_fe_editing.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="modul_stran"><h2>Modul stran</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/interfaces/interfaces_page_module.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="modul_seznam"><h2>Modul seznam</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/interfaces/interfaces_list_module.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="primerjava_modula_seznam_in_stran"><h2>Primerjava modula seznam in stran</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/interfaces/interfaces_background.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="urejanje_datotek"><h2>Urejanje datotek</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/files/files_filelist.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="dodatne_informacije_o_datotekah"><h2>Dodatne informacije o datotekah</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/files/files_background.swf" width="784" height="588" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
		<div class="frame screencast">
			<a name="vkljucevanje_datotek"><h2>Vključevanje datotek</h2></a>
			<object type="application/x-shockwave-flash" data="http://typo3.org/fileadmin/t3org/videos/videos_en/files/files_element_browser.swf" width="785" height="589" id="sb-player" style="visibility: visible; "><param name="bgcolor" value="#000000"><param name="allowfullscreen" value="true"></object>
		</div>
		
	</div>
</div>

</f:be.container>