<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.naziv" />
		</td>
		<td>
			{dejavnost.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.oznaka" />
		</td>
		<td>
			{dejavnost.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.opomba_za_e_k_t" />
		</td>
		<td>
			{dejavnost.opombaZaEKT}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.opis" />
		</td>
		<td>
			{dejavnost.opis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.slika" />
		</td>
		<td>
			{dejavnost.slika}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.opis_slike" />
		</td>
		<td>
			{dejavnost.opisSlike}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.kljucne_besede" />
		</td>
		<td>
			{dejavnost.kljucneBesede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_opravljanje" />
		</td>
		<td>
			{dejavnost.cezmejnoOpravljanje}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_opravljenje_obrazlozitev" />
		</td>
		<td>
			{dejavnost.cezmejnoOpravljenjeObrazlozitev}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.povzetek_pogojev" />
		</td>
		<td>
			{dejavnost.povzetekPogojev}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dejavnost.opomba" />
		</td>
		<td>
			{dejavnost.opomba}
		</td>
	</tr>
</table>