<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.naziv" />
		</td>
		<td>
			{cezmejnoOpravljenjePoklica.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.oznaka" />
		</td>
		<td>
			{cezmejnoOpravljenjePoklica.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.pravno_sredstvo" />
		</td>
		<td>
			{cezmejnoOpravljenjePoklica.pravnoSredstvo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.molk_organa" />
		</td>
		<td>
			{cezmejnoOpravljenjePoklica.molkOrgana}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.opomba" />
		</td>
		<td>
			{cezmejnoOpravljenjePoklica.opomba}
		</td>
	</tr>
</table>