<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<div class="articleWrap">
    
    <h1><f:translate key="tx_a3ekt_domain_model_drugipogoj.drugi_pogoji" /></h1>

    <ul class="category-list drugipogojList">
            <ul class="links">
                <f:for each="{drugiPogojs}" as="drugiPogoj">
                    <li><f:link.action action="show" arguments="{drugiPogoj : drugiPogoj.uid}"> {drugiPogoj.naziv}</f:link.action></li>
                </f:for>
            </ul>
        </li>
    </ul>
    <f:if condition="{noResults}!=''">
        <p>{noResults}</p>
    </f:if>
    <f:if condition="{pageCount} > 1">
        <!-- pager -->
        {namespace pager=Tx_ExtbasePager_ViewHelpers}
        <pager:pager typoscript="plugin.tx_a3ekt.settings.pager" page="{page}" lastPage="{pageCount}" />
    </f:if>
</div>

</f:section>