<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    
<f:flashMessages />

<article class="content-container">
	
	<h1>{drugiPogoj.naziv}</h1>
	
	<div class="content">
		<f:format.html parseFuncTSPath="lib.parseFunc">{drugiPogoj.opis}</f:format.html>
        
        <f:if condition="{drugiPogoj.dokazilo}">
            <h2><f:translate key="tx_a3ekt_domain_model_drugipogoj.dokazila" /></h2>
            <f:format.html>{drugiPogoj.dokazilo}</f:format.html>
        </f:if>
	</div>
	
	<f:if condition="{drugiPogoj.pravnePodlage}">
        
        <div class="content">
            <h2 class="padding_top_header"><f:translate key="tx_a3ekt_domain_model_drugipogoj.pravne_podlage" /></h2>
            <ul>
                <f:for each="{drugiPogoj.pravnePodlage}" as="pravnaPodlaga">
                    <li><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
                </f:for>
            </ul>
        </div>
    
    </f:if>
	
	<div class="hr last-change-hr" />
	<div class="last-change"><f:translate key="tx_a3ekt_domain_model_drugipogoj.datum_zadnje_spremembe_strani" />: <strong><f:cObject typoscriptObjectPath="lib.lastUpdate" /></strong></div>
	
</article>

<aside>
    <f:if condition="{drugiPogoj.zakonodajniOrgan}">
        <f:render partial="Organ" arguments="{header: 'zakonodajni_organ2', organ: drugiPogoj.zakonodajniOrgan, kontakt: drugiPogoj.zakonodajniOrganKontakt}" />
    </f:if>
    
    <f:if condition="{drugiPogoj.pristojniOrgan}">
        <f:render partial="Organ" arguments="{header: 'pristojni_organ2', organ: drugiPogoj.pristojniOrgan, kontakt: drugiPogoj.kontaktnaOseba}" />
    </f:if>
    
    <f:if condition="{drugiPogoj.sorodnePovezave}">
        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_drugipogoj.sorodne_povezave" /></h3>
            <ul class="links sorodnePovezave">
                <f:for each="{drugiPogoj.sorodnePovezave}" as="sorodnaPovezava">
                    <li class="external"><f:link.external uri="{sorodnaPovezava.url}" target="_blank">{sorodnaPovezava.naziv}</f:link.external></li>
                </f:for>
            </ul>
        </div>
    </f:if>
</aside>

</f:section>