<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>EKT Povezave pogojev</h1>

<f:flashMessages />

<table  class="tx_a3ekt" >
	<tr>
		<th><f:translate key="tx_a3ekt_domain_model_ektpovezavepogoj.opomba" /></th>
	</tr>

	<f:for each="{eKTPovezavePogojs}" as="eKTPovezavePogoj">
		<tr>
			<td><f:link.action action="show" arguments="{eKTPovezavePogoj : eKTPovezavePogoj}"> {eKTPovezavePogoj.opomba}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>