<ul class="links">
    <f:for each="{povezave}" as="ektPovezava">    
        
        <f:if condition="{ektPovezava.tip} == 99">
            <span class="divider">--- <f:translate key="or" /> ---</span>
        </f:if> 
        <f:if condition="{ektPovezava.tip} == 1">
            <li class="item"> 
                <f:link.action action="show" class="trigger" arguments="{dovoljenje : ektPovezava.dovoljenje}" controller="Dovoljenje">{ektPovezava.dovoljenje.naziv}</f:link.action>
            </li>
        </f:if>
        <f:if condition="{ektPovezava.tip} == 2">
            <li class="item"> 
                {ektPovezava.cezmejnoDovoljenje.naziv}
            </li>
        </f:if>

        <f:if condition="{ektPovezava.tip} == 3">
            <li class="item"> 
                {ektPovezava.drugiPogoj.naziv}
            </li>
        </f:if>
        
        <!-- Recursive klic za dodatne poevzave -->
        <f:if condition="{ektPovezava.pogoj}">
            <div class="data-container">
                <div class="data">
                    <f:render partial="Poklic/PovezavePoklicevNotranji" arguments="{povezave: ektPovezava.pogoj}" />
                </div>
            </div>
        </f:if>
        
    </f:for>
</ul>