<ul class="expandables expandables-complex">
    <li class="item">
        <f:for each="{pogoji}" as="ektPogoj">
		
            <f:if condition="{ektPogoj.tip} == 98">
                </li><li class="divider-container"><span class="divider"><f:translate key="or" /></span></li><li class="item">
            </f:if>
            <f:if condition="{ektPogoj.tip} == 99">
                <span class="divider"><f:translate key="or" /></span>
            </f:if>
        
            <f:if condition="{ektPogoj.tip} == 1">
				
				<f:if condition="{firstLevel}">
				<f:then>
					<span class="trigger"><f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, poklic: poklic}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action></span>
				</f:then>
				<f:else>
					<span class="trigger"><f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, povezavePoklicev: ektPogoj.uid}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action></span>
				</f:else>
				</f:if>
            
            </f:if>    
            <f:if condition="{ektPogoj.tip} == 66">
            
				<f:if condition="{dejavnost}">
				<f:then>
					<span class="trigger"><f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, dejavnost: dejavnost}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action></span>
				</f:then>
				<f:else>
					<span class="trigger"><f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, povezavePogojev: ektPogoj.uid}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action></span>
				</f:else>
				</f:if>
            
            </f:if>
        
            <f:if condition="{ektPogoj.tip} == 2">
            </f:if>

            <f:if condition="{ektPogoj.tip} == 3">
            
                <span class="trigger"><f:link.action pageUid="{settings.drugipogoji}" arguments="{drugiPogoj : ektPogoj.drugiPogoj}" controller="DrugiPogoj" action="show">{ektPogoj.drugiPogoj.naziv}</f:link.action></span>
            
            </f:if>

            <f:if condition="{ektPogoj.tip} == 5">
            
                <span class="trigger"><f:link.action pageUid="{settings.poklici}" arguments="{poklic : ektPogoj.poklic}" controller="Poklic" action="show">{ektPogoj.poklic.naziv}</f:link.action></span>
           
            </f:if>

            
        
        </f:for>
    </li>
</ul>