<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.naziv" />
		</td>
		<td>
			{poklic.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.oznaka" />
		</td>
		<td>
			{poklic.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.opis" />
		</td>
		<td>
			{poklic.opis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.kljucne_besede" />
		</td>
		<td>
			{poklic.kljucneBesede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.opomba" />
		</td>
		<td>
			{poklic.opomba}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_priznavanje" />
		</td>
		<td>
			{poklic.cezmejnoPriznavanje}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_priznavanje_obrazlozitev" />
		</td>
		<td>
			{poklic.cezmejnoPriznavanjeObrazlozitev}
		</td>
	</tr>
</table>