<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_drugipogoj.naziv" />
		</td>
		<td>
			{drugiPogoj.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_drugipogoj.oznaka" />
		</td>
		<td>
			{drugiPogoj.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_drugipogoj.opis" />
		</td>
		<td>
			{drugiPogoj.opis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_drugipogoj.dokazilo" />
		</td>
		<td>
			{drugiPogoj.dokazilo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_drugipogoj.opomba" />
		</td>
		<td>
			{drugiPogoj.opomba}
		</td>
	</tr>
</table>