<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.naziv" />
		</td>
		<td>
			{dovoljenje.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.oznaka" />
		</td>
		<td>
			{dovoljenje.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.opis" />
		</td>
		<td>
			{dovoljenje.opis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.obvezno_clanstvo" />
		</td>
		<td>
			{dovoljenje.obveznoClanstvo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.obnova" />
		</td>
		<td>
			{dovoljenje.obnova}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.termin_obnove" />
		</td>
		<td>
			{dovoljenje.terminObnove}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.opis_obnove" />
		</td>
		<td>
			{dovoljenje.opisObnove}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.drugo" />
		</td>
		<td>
			{dovoljenje.drugo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.pravno_sredstvo" />
		</td>
		<td>
			{dovoljenje.pravnoSredstvo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.molk_organa" />
		</td>
		<td>
			{dovoljenje.molkOrgana}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenje.opomba" />
		</td>
		<td>
			{dovoljenje.opomba}
		</td>
	</tr>
</table>