<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.cezmejna_dovoljenja" /></h1>

<f:flashMessages />

<table  class="tx_a3ekt" >
	<tr>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.naziv" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.oznaka" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_sredstvo" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.molk_organa" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.opomba" /></th>
	</tr>

	<f:for each="{cezmejnoDovoljenjes}" as="cezmejnoDovoljenje">
		<tr>
			<td><f:link.action action="show" arguments="{cezmejnoDovoljenje : cezmejnoDovoljenje}"> {cezmejnoDovoljenje.naziv}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoDovoljenje : cezmejnoDovoljenje}"> {cezmejnoDovoljenje.oznaka}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoDovoljenje : cezmejnoDovoljenje}"> {cezmejnoDovoljenje.pravnoSredstvo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoDovoljenje : cezmejnoDovoljenje}"> {cezmejnoDovoljenje.molkOrgana}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoDovoljenje : cezmejnoDovoljenje}"> {cezmejnoDovoljenje.opomba}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>