{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<article class="content-container">
	
	<h1>{cezmejnoDovoljenje.naziv}</h1>

	<div class="content">
		<f:format.html parseFuncTSPath="lib.parseFunc">{cezmejnoDovoljenje.opis}</f:format.html>
	</div>
	
	<f:if condition="{pogoji}">
        
            <h2><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pogoji_in_dokazila" /></h2>
			
			<f:if condition="{dejavnost}">
            	<f:render partial="Dejavnost/PovezavePogoji" arguments="{pogoji: pogoji, dejavnost: dejavnost}" />
			</f:if>
			
			<f:if condition="{poklic}">
            	<f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
			</f:if>
			<f:if condition="{povezavePoklicev}">
            	<f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
			</f:if>

	</f:if>
	
	<f:if condition="{cezmejnoDovoljenje.vloge}">
            <div class="additional">
                <h3><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.vloga_za_pridobitev_dovoljenja" /></h3>
                <ul class="documents">
                <f:for each="{cezmejnoDovoljenje.vloge}" as="vloga">
                    <li><f:link.external uri="{vloga.url}">{vloga.naziv}</f:link.external></li>
                </f:for>
                </ul>
            </div>
        </f:if>
    
    <f:if condition="{cezmejnoDovoljenje.prilogeKVlogi}">
        <ul class="expandables expandables-complex priloge">
            <li class="item_dark">
			<h2><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.priloge_k_vlogi" /></h2>
			<div class="hr"><hr/></div>
			<ul>
            <f:for each="{cezmejnoDovoljenje.prilogeKVlogi}" as="prilogaKVlogi">
                <f:if condition="{prilogaKVlogi.url}">
                    <f:then>
                        <li><f:link.external class="trigger" uri="{prilogaKVlogi.url}" target="_blank">{prilogaKVlogi.naziv}</f:link.external></li>
                    </f:then>
                    <f:else>
                        <li><a class="trigger noLink">{prilogaKVlogi.naziv}</a></li>
                    </f:else>
                </f:if>
            </f:for>
			</ul>
            </li>
        </ul>
	</f:if>
	
	<f:if condition="{cezmejnoDovoljenje.pravnoSredstvo}">
		<div>
			<h2><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_varstvo" /></h2>
			<ul>
	        <li><strong><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_sredstvo" />:</strong>
	            <f:if condition="{cezmejnoDovoljenje.pravnoSredstvo} == 1"><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_sredstvo.pritozba" /></f:if>
	            <f:if condition="{cezmejnoDovoljenje.pravnoSredstvo} == 2"><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_sredstvo.upravni_spor" /></f:if>
	        </li>
	
			<f:if condition="{cezmejnoDovoljenje.pritozbeniOrgan}">
		        <li><strong><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pristojni_organ" />:</strong> {cezmejnoDovoljenje.pritozbeniOrgan.naziv}</li>
		    </f:if>
	
		    <f:if condition="{cezmejnoDovoljenje.molkOrgana}">
				<li><strong><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.molk_organa" />:</strong> {cezmejnoDovoljenje.molkOrgana}</li>
		    </f:if>
    		</ul>
	    </div>
	</f:if>
    
    <f:if condition="{cezmejnoDovoljenje.molkOrgana}">
        <p><strong><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.molk_organa" />:</strong> {cezmejnoDovoljenje.molkOrgana}</p>
    </f:if>
    
    <f:if condition="{cezmejnoDovoljenje.drugo}">
        <p><strong><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.druge_aktivnosti" />:</strong> {cezmejnoDovoljenje.drugo}</p>
    </f:if>
    
    <f:if condition="{cezmejnoDovoljenje.opomba}">
        <f:then>
            <div class="content">
                <h2><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pomembno_je_tudi" /></h2>
                <f:format.html parseFuncTSPath="lib.parseFunc">{cezmejnoDovoljenje.opomba}</f:format.html>
            </div>
        </f:then>
    </f:if>
    
    <f:if condition="{cezmejnoDovoljenje.pravnaPodlaga}">
        
        <div class="content">
            <h2><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravne_podlage" /></h2>
            <ul>
                <f:for each="{cezmejnoDovoljenje.pravnaPodlaga}" as="pravnaPodlaga">
                    <li><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
                </f:for>
            </ul>
        </div>
    
    </f:if>
	
</article>

<aside>
        
        
        <f:if condition="{cezmejnoDovoljenje.pristojniOrgan}">
            <f:render partial="Organ" arguments="{header: 'pristojni_organ', organ: cezmejnoDovoljenje.pristojniOrgan, kontakt: cezmejnoDovoljenje.kontaktnaOseba}" />
        </f:if>
        
        <f:if condition="{cezmejnoDovoljenje.stroskiPostopka}">
        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.stroski_postopka" /></h3>
            <dl class="calculation">
            <f:for each="{cezmejnoDovoljenje.stroskiPostopka}" as="strosekPostopka">
                <dt>{strosekPostopka.nazivStroska}</dt>
                <dd><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{strosekPostopka.znesek}</f:format.currency></dd>
                <div class="clear"></div>
            </f:for>
                <dt class="total"><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.skupaj" /></dt>
                <dd class="total"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="."><ekt:stroskiPostopka stroskiPostopka="{cezmejnoDovoljenje.stroskiPostopka}" /></f:format.currency></dd>
            </dl>
        </div>
        </f:if>
        
        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.koraki_postopka" /></h3>
            <ul class="steps">
                <f:for each="{cezmejnoDovoljenje.korakiPostopka}" as="korakPostopka" iteration="korakPostopkaIterator">
				
				<f:if condition="{korakPostopkaIterator.isLast}">
				<f:then>
				
					<f:if condition="{korakPostopka.terminskiRok}">
                        <f:then>
                            <li class="last" title="{f:translate(key: 'tx_a3ekt_domain_model_cezmejnodovoljenje.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                        </f:then>
                        <f:else>
                            <li class="last">{korakPostopka.korak.naziv}</li>
                        </f:else>
                    </f:if>
				
				</f:then>
				<f:else>
				
					<f:if condition="{korakPostopka.terminskiRok}">
                        <f:then>
                            <li title="{f:translate(key: 'tx_a3ekt_domain_model_cezmejnodovoljenje.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                        </f:then>
                        <f:else>
                            <li>{korakPostopka.korak.naziv}</li>
                        </f:else>
                    </f:if>
				
				</f:else>
				</f:if>

                </f:for>
            </ul>
        </div>
        
        
   
</aside>

</f:section>