<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

	<div class="half half-first">
		<ul class="category-list">

			<f:for each="{firstHalfWithDejavnosti}" as="sektor" iteration="sektorIteration">
	
					<li class="item">
						<h2 class="category-title"><f:link.action pageUid="{settings.sektorji}" arguments="{sektor : sektor}" controller="Sektor" action="show">{sektor.naziv}</f:link.action> / {sektor.steviloDejavnosti}</h2>
						
						<ul class="links">
						<f:for each="{sektor.dejavnosti}" as="dejavnost" iteration="dejavnostIterator">
							<f:if condition="{dejavnostIterator.index} < 5">
							<f:then>
								<li><f:link.action pageUid="{settings.dejavnosti}" arguments="{dejavnost : dejavnost}" controller="Dejavnost" action="show">{dejavnost.naziv}</f:link.action></li>
							</f:then>
							</f:if>
						</f:for>
						</ul>
						
						<f:if condition="{sektor.steviloDejavnosti} > 5">
						<f:then>
							<f:link.action pageUid="{settings.dejavnosti}" arguments="{sektor : sektor, cezmejnoDelovanje: -1}" controller="Dejavnost" action="list" class="more"><f:translate key="more" /></f:link.action>
						</f:then>
						</f:if>
					</li>
			
			</f:for>
			
			<f:for each="{firstHalfWithoutDejavnosti}" as="sektor" iteration="sektorIteration">
			
				<li class="item">
					<h2 class="category-title"><f:link.action pageUid="{settings.sektorji}" arguments="{sektor : sektor}" controller="Sektor" action="show">{sektor.naziv}</f:link.action></h2>
					<p>{sektor.opis}</p>
				</li>
			
			</f:for>
			
		</ul>
	</div>
	
	
	
	<div class="half">
		<ul class="category-list">

			<f:for each="{secondHalfWithDejavnosti}" as="sektor" iteration="sektorIteration">
	
					<li class="item">
						<h2 class="category-title"><f:link.action pageUid="{settings.sektorji}" arguments="{sektor : sektor}" controller="Sektor" action="show">{sektor.naziv}</f:link.action> / {sektor.steviloDejavnosti}</h2>
						
						<ul class="links">
						<f:for each="{sektor.dejavnosti}" as="dejavnost" iteration="dejavnostIterator">
							<f:if condition="{dejavnostIterator.index} < 5">
							<f:then>
								<li><f:link.action pageUid="{settings.dejavnosti}" arguments="{dejavnost : dejavnost}" controller="Dejavnost" action="show">{dejavnost.naziv}</f:link.action></li>
							</f:then>
							</f:if>
						</f:for>
						</ul>
						
						<f:if condition="{sektor.steviloDejavnosti} > 5">
						<f:then>
							<f:link.action pageUid="{settings.dejavnosti}" arguments="{sektor : sektor, cezmejnoDelovanje: -1}" controller="Dejavnost" action="list" class="more"><f:translate key="more" /></f:link.action>
						</f:then>
						</f:if>
					</li>
			
			</f:for>
			
			<f:for each="{secondHalfWithoutDejavnosti}" as="sektor" iteration="sektorIteration">
			
				<li class="item">	
					<h2 class="category-title"><f:link.action pageUid="{settings.sektorji}" arguments="{sektor : sektor}" controller="Sektor" action="show">{sektor.naziv}</f:link.action></h2>
					<p>{sektor.opis}</p>
				</li>
			
			</f:for>
			
		</ul>
	</div>

</f:section>