<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages />
        
    <article class="content-container">
        <h1>{sektor.naziv}</h1>
        <f:if condition="{stSlik} > 0">
        <ul class="gallery">
            <f:for each="{dejavnosti}" as="dejavnost">
                <f:if condition="{dejavnost.slika}">
                    <li>
                        <figure>
                            <a title="{dejavnost.opisSlike}" href="uploads/tx_a3ekt/{dejavnost.slika}" rel="gallery-0">
                                <span class="magnify"></span>
                                <f:image src="uploads/tx_a3ekt/{dejavnost.slika}" alt="{dejavnost.opisSlike}" width="215c" height="160c"/>
                                <figcaption>
                                    {dejavnost.opisSlike}
                                    <span class="count">1/{stSlik}</span>
                                </figcaption>
                            </a>
                        </figure>
                    </li>
                </f:if>
            </f:for>
        </ul>
		</f:if>
        
        <div class="content">
            <f:format.html>{sektor.opis}</f:format.html>
            
            <div class="emptyDivider"></div>
            
            <f:if condition="{dejavnosti}">
                <h2 class="padding_top_header"><f:translate key="tx_a3ekt_domain_model_sektor.seznam_dejavnosti" /></h2>
                <f:if condition="{stDejavnosti} > {limit}">
                    <f:then>
                        <ul class="links toggleList">
                    </f:then>
                    <f:else>
                        <ul class="links">
                    </f:else>
                </f:if>
                    <f:for each="{dejavnosti}" as="dejavnost">
                        <li>
                            <f:link.action pageUid="{settings.dejavnosti}" action="show" controller="Dejavnost" arguments="{dejavnost : dejavnost.uid}">{dejavnost.naziv}</f:link.action>
                        </li>
                    </f:for>
                </ul>
                
                <f:if condition="{stDejavnosti} > {limit}">
                    <a href="javascript:void(0);" class="more toggleList"><f:translate key="more" /></a>
                    <a href="javascript:void(0);" class="more toggleListOpen"><f:translate key="less" /></a>
                </f:if>
            </f:if>
            
            <f:if condition="{poklici}">
                <h2 class="padding_top_header"><f:translate key="tx_a3ekt_domain_model_sektor.seznam_poklicev" /></h2>
                <f:if condition="{stPoklicev} > {limit}">
                    <f:then>
                        <ul class="links toggleList">
                    </f:then>
                    <f:else>
                        <ul class="links">
                    </f:else>
                </f:if>
                    <f:for each="{poklici}" as="poklic">
                        <li>
                            <f:link.action pageUid="{settings.poklici}" action="show" controller="Poklic" arguments="{poklic : poklic.uid}">{poklic.naziv}</f:link.action>
                        </li>
                    </f:for>
                </ul>
                
                <f:if condition="{stPoklicev} > {limit}">
                    <a href="javascript:void(0);" class="more toggleList"><f:translate key="more" /></a>
                    <a href="javascript:void(0);" class="more toggleListOpen"><f:translate key="less" /></a>
                </f:if>
            </f:if>

           
            <f:if condition="{dovoljenja}">  
            <h2 class="padding_top_header"><f:translate key="tx_a3ekt_domain_model_sektor.seznam_dovoljenj" /></h2>
                <f:if condition="{stDovoljenj} > {limit}">
                    <f:then>
                        <ul class="links toggleList">
                    </f:then>
                    <f:else>
                        <ul class="links">
                    </f:else>
                </f:if>
                    <f:for each="{dovoljenja}" as="dovoljenje">
                        <li>
                            <f:link.action pageUid="{settings.dovoljenja}" action="show" controller="Dovoljenje" arguments="{dovoljenje : dovoljenje.uid}">{dovoljenje.naziv}</f:link.action>
                        </li>
                    </f:for>
                </ul>
            
                <f:if condition="{stDovoljenj} > {limit}">
                    <a href="javascript:void(0);" class="more toggleList"><f:translate key="more" /></a>
                    <a href="javascript:void(0);" class="more toggleListOpen">less</a>
                </f:if>
            </f:if>

        </div>

    </article>

    <aside>

        <f:if condition="{sektor.sekundarneVsebine}">
            <f:for each="{sektor.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 1">
                    <div class="module">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
                <f:if condition="{sekundarnaVsebina.contentType} == 2">
                    <div class="module highlight">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
                <f:if condition="{sekundarnaVsebina.contentType} == 3">
                    <div class="help">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                        <span class="arrow"> </span>
                    </div>
                </f:if>
            </f:for>
        </f:if>

    </aside>

</f:section>