{namespace k=Tx_ExtensionBuilder_ViewHelpers}
<k:comment>
	Use the section "header" to call ViewHelpers which modify the configuration
	of the PageRenderer, f.e. to include custom CSS or JavaScript.
</k:comment>
<f:render section="header" />
<f:be.container>
	<style type="text/css">
	span.logo {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #585858;
		position: relative;
		bottom: 2px;
	}
	</style>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Introduction" controller="BuilderModule" action="index" />
						<f:be.menus.actionMenuItem label="Domain Modelling" controller="BuilderModule" action="docheadermodelling"/>
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<span class="logo">Extension Builder</span>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
