{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:be.container>

<br/>
<br/>
<br/>

<table width="100%">
	
	<tr>
        <td align="center"></td>
		<td align="center">
			<p style="font-size: 30px;" class="syncInfo"><ekt:ektSync taskUid="{settings.schedulerSyncUid}" /></p></td>
        <td align="center"></td>
    </tr>

    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

</table>

<br/>
<br/>
<br/>

<table width="100%">
	
    <tr>
        <td align="center"><h2>EKT Storage</h2></td>
		<td align="center"><h2>--&gt; diff --&gt;</h2></td>
        <td align="center"><h2>SBP Storage</h2></td>
    </tr>
	

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_povezavepoklicev"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_ektpovezavepoklicev"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_ektpovezavepogoj"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_dovoljenje"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_dejavnost"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_poklic"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_dovoljenjevtujini"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_drugipogoj"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_ektdejavnost"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_sektor"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_cezmejnodovoljenje"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_sorodnepovezave"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />
			
            <ekt:tableList
            tableName="tx_a3ekt_domain_model_stroskipostopka"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_registerdovoljenj"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_vlogapriloga"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_korakipostopka"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_kontaktnaoseba"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_vloga"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_pravnapodlaga"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_organ"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_skddejavnost"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

            <ekt:tableList
            tableName="tx_a3ekt_domain_model_posta"
            storagePid="{settings.pidEktStorage}"
			storagePid2="{settings.pidSbpStorage}" />

</table>

</f:be.container>