<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.cezmejna_opravljanja_poklicev" /></h1>

<f:flashMessages />

<table  class="tx_a3ekt" >
	<tr>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.naziv" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.oznaka" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.pravno_sredstvo" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.molk_organa" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_cezmejnoopravljenjepoklica.opomba" /></th>
	</tr>

	<f:for each="{cezmejnoOpravljenjePoklicas}" as="cezmejnoOpravljenjePoklica">
		<tr>
			<td><f:link.action action="show" arguments="{cezmejnoOpravljenjePoklica : cezmejnoOpravljenjePoklica}"> {cezmejnoOpravljenjePoklica.naziv}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoOpravljenjePoklica : cezmejnoOpravljenjePoklica}"> {cezmejnoOpravljenjePoklica.oznaka}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoOpravljenjePoklica : cezmejnoOpravljenjePoklica}"> {cezmejnoOpravljenjePoklica.pravnoSredstvo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoOpravljenjePoklica : cezmejnoOpravljenjePoklica}"> {cezmejnoOpravljenjePoklica.molkOrgana}</f:link.action></td>
			<td><f:link.action action="show" arguments="{cezmejnoOpravljenjePoklica : cezmejnoOpravljenjePoklica}"> {cezmejnoOpravljenjePoklica.opomba}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>