<div class="module general">
    <h3>
        <f:translate key="tx_a3ekt_domain_model_dejavnost.pristojni_organ" />
    </h3>
    <h5><f:link.external uri="{organ.spletniNaslov}" target="_blank">{organ.naziv}</f:link.external></h5>
	<p>{organ.naslov}<br>
	{organ.posta.stevilka} {organ.posta.naziv}
	
    <f:if condition="{kontakt}">
        <br/><br/>
        <f:if condition="{kontakt.imePriimek}"><strong>{kontakt.imePriimek}</strong><br/></f:if>
        <f:if condition="{kontakt.telefon}"><strong>Tel:</strong> {kontakt.telefon}<br/></f:if>
        <f:if condition="{kontakt.email}"><strong>E-mail:</strong> <f:link.email email="{kontakt.email}">{kontakt.email}</f:link.email></p></f:if>
        <f:if condition="{kontakt.emailNamestnika}"><strong>E-mail namestnika:</strong> <f:link.email email="{kontakt.emailNamestnika}">{kontakt.emailNamestnika}</f:link.email></p></f:if>
    </f:if>
</div>