{namespace fed=Tx_Fed_ViewHelpers}
{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:flashMessages />

	<f:if condition="{poklici}">
	<f:then>
		<fed:if condition="{fed:pageRenderer.getLanguage()} != 'si'">
			<fed:data.sort array="{poklici}" sortBy="naziv" order="ASC" as="poklici" />
		</fed:if>
		<ekt:break array="{poklici}" title="naziv" as="poklici" />
	</f:then>
	</f:if>

    <div class="articleWrap">
        <h1><f:translate key="tx_a3ekt_domain_model_poklic.poklici" /></h1>

        <div class="info-box"><p><f:translate key="tx_a3ekt_domain_model_poklic.poklici_showing" /> <!--<a href="javascript:void(0);">{pokliciFrom}</a> od--> <a href="javascript:void(0);"><f:count subject="{poklici}" /></a> <f:translate key="tx_a3ekt_domain_model_poklic.poklicev" /></p></div>

        <ul class="category-list dejavnostList">
            <ul class="links">
                <f:for each="{poklici}" as="poklic">
                    <f:if condition="{poklic.break} == 1"></ul></li><li class="item item-first"><h2 class="category-title">{poklic.letter}</h2><ul class="links"></f:if>
                    <li><f:link.action action="show" arguments="{poklic : poklic.uid}"> {poklic.naziv}</f:link.action></li>
                </f:for>
            </ul>
            </li>
        </ul>
        <f:if condition="{noResults}!=''">
            <p>{noResults}</p>
        </f:if>
        <f:if condition="{pageCount} > 1">
            <!-- pager -->
            {namespace pager=Tx_ExtbasePager_ViewHelpers}
            <pager:pager typoscript="plugin.tx_a3ekt.settings.pager" page="{page}" lastPage="{pageCount}" />
        </f:if>
    </div>

    <aside class="asideWrap">
        <div class="module filter">
            <form method="post" id="filter">
                <fieldset class="item dropdown-container">
                    <h3><f:translate key="tx_a3ekt_domain_model_poklic.podrocje" /></h3>
                    <f:form.hidden name="no_cache" value="1"/>
                    <label for="dropdown" class="hidden"><f:translate key="tx_a3ekt_domain_model_poklic.izberite_podrocje" /></label>
                    <select id="dropdown" name="tx_a3ekt_template[sektor]" class="default" tabindex="1">
                        <option value="-1"><f:translate key="tx_a3ekt_domain_model_poklic.vsa_podrocja" /></option>
                        <f:for each="{sektorji}" as="sektor">
                            <f:if condition="{sektorSelected} == {sektor.uid}">
                                <f:then>
                                    <option value="{sektor.uid}" selected="selected">{sektor.naziv}</option>
                                </f:then>
                                <f:else>
                                    <option value="{sektor.uid}">{sektor.naziv}</option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </select>
                </fieldset>

                <fieldset class="item">
                    <h3><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje" /></h3>
                    <ul class="radios">
                        <li class="row">
                            <f:form.radio id="box1" name="tx_a3ekt_template[cezmejnoDelovanje]" class="radio" value="-1" checked="{cezmejnoDelovanjeChecked} == -1" />
                            <label for="box1"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje.ni_pomembno" /></label>
                        </li>
                        <li class="row">
                            <f:form.radio id="box2" name="tx_a3ekt_template[cezmejnoDelovanje]" class="radio" value="0" checked="{cezmejnoDelovanjeChecked} == 0" />
                            <label for="box2"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje.ni_mozno" /></label>
                        </li>
                        <li class="row">
                            <f:form.radio id="box3" name="tx_a3ekt_template[cezmejnoDelovanje]" class="radio" value="3" checked="{cezmejnoDelovanjeChecked} == 3" />
                            <label for="box3"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje.je_mozno_s_prijavo" /></label>
                        </li>
                        <li class="row">
                            <f:form.radio id="box4" name="tx_a3ekt_template[cezmejnoDelovanje]" class="radio" value="1" checked="{cezmejnoDelovanjeChecked} == 1" />
                            <label for="box4"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje.je_mozno_brez_prijave" /></label>
                        </li>
                        <li class="row">
                            <f:form.radio id="box5" name="tx_a3ekt_template[cezmejnoDelovanje]" class="radio" value="2" checked="{cezmejnoDelovanjeChecked} == 2" />
                            <label for="box5"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_delovanje.je_mozno_s_pridobitvijo_dovoljenja" /></label>
                        </li>
                    </ul>
                </fieldset>

            </form>
        </div>
    </aside>
</f:section>