{namespace fed=Tx_Fed_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:if condition="{poklic.kljucneBesede}">
        <fed:pageRenderer.addMetaTag meta="<meta name=\"keywords\" content=\"{poklic.kljucneBesede}\">"/>
    </f:if>

    <article class="content-container">
        <h1>{poklic.naziv}</h1>

        <f:flashMessages />

        <div class="content">
            <f:format.html parseFuncTSPath="lib.parseFunc">{poklic.opis}</f:format.html>
        </div>

        <div class="clear"><br/></div>

        <f:if condition="{poklic.eKTPovezavePoklicev}">
            <div class="content">
                <h2><f:translate key="tx_a3ekt_domain_model_poklic.pogoji_in_dokazila" /></h2>
                <f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: poklic.eKTPovezavePoklicev, poklic: poklic, firstLevel: 1}" />
            </div>
        </f:if>

        <f:if condition="{poklic.opomba}">
            <div class="content">
                <h2><f:translate key="tx_a3ekt_domain_model_poklic.opombe" /></h2>
                <f:format.html parseFuncTSPath="lib.parseFunc">{poklic.opomba}</f:format.html>
            </div>
        </f:if>

        <div class="hr last-change-hr"></div>
        <div class="last-change">
            <f:if condition="{poklic.vir}">
                <f:if condition="{poklic.vir.spletniNaslov}">
                    <f:then>
                        <f:translate key="tx_a3ekt_domain_model_poklic.vir" />: <strong><f:link.external uri="{poklic.vir.spletniNaslov}" target="_blank">{poklic.vir.naziv}</f:link.external></strong>&nbsp;|
                    </f:then>
                    <f:else>
                        <f:translate key="tx_a3ekt_domain_model_poklic.vir" />: <strong>{poklic.vir.naziv}</strong>&nbsp;|
                    </f:else>
                </f:if>
            </f:if>
            <f:translate key="tx_a3ekt_domain_model_poklic.datum_zadnje_spremembe_strani" />: <strong><f:cObject typoscriptObjectPath="lib.lastUpdate" /></strong>
        </div>

    </article>

    <aside>
        <f:if condition="{poklic.cezmejnoPriznavanjePoklica}">
            <div class="module highlight">

                <h3><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_opr_poklica" /></h3>
                <p>
                <f:if condition="{poklic.cezmejnoPriznavanjePoklica} == 0">
                    <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.opravljanje_ni_mozno_en" htmlEscape="0" /><f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno" /></f:link.page> <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.opravljanje_ni_mozno" htmlEscape="0" />
                </f:if>
                <f:if condition="{poklic.cezmejnoPriznavanjePoklica} > 0">
                    <f:if condition="{poklic.cezmejnoPriznavanjePoklica} == 1">
                        <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.poklic_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.pred_prvim_opravljanjem" htmlEscape="0"/>
                    </f:if>
                    <f:if condition="{poklic.cezmejnoPriznavanjePoklica} == 2">

                        <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.poklic_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.pred_prvim_opravljanjem2" htmlEscape="0"/><br />
                        <f:link.action action="show" pageUid="{settings.cezmejnaopravljenjapoklicev}" class="btn btnblack" arguments="{cezmejnoOpravljenjePoklica : poklic.prijavaSPostopkomPridobitveDovoljenja, poklic: poklic}" controller="CezmejnoOpravljenjePoklica"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.pridobitev_dovoljenja" /></f:link.action>

                    </f:if>
                    <f:if condition="{poklic.cezmejnoPriznavanjePoklica} == 3">

                        <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.poklic_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.pred_prvim_opravljanjem3" htmlEscape="0"/><br /><br />
                        <f:translate key="tx_a3ekt_domain_model_poklic.cezmejno_obcasno.pristojni_organ" />:<br />
                        
                        <f:if condition="{poklic.spletniNaslov}">
                            <f:then>
                                <f:link.external uri="{poklic.spletniNaslov}" target="_blank">{poklic.zakonodajniOrgan.naziv}</f:link.external>
                            </f:then>
                            <f:else>{poklic.zakonodajniOrgan.naziv}</f:else>
                        </f:if>

                    </f:if>
                    <f:if condition="{poklic.cezmejnoPriznavanjePoklica} == 99">

                        <f:format.html>{poklic.cezmejnoPriznavanjeObrazlozitev}</f:format.html>

                    </f:if>
                </f:if>
                </p>
            </div>
        </f:if>

        <f:if condition="{poklic.eKTPovezavePoklicev}">
            <div class="module highlight">
                <h3><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij" /></h3>
                <p><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij.za" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.priznavanjeKvalifikacij}"><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij.priznanje" /></f:link.page> <f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij.v_eu_pridobljenih_poklicnih_kvalifikacij" />:<br />
                    
                <f:for each="{poklic.eKTPovezavePoklicev}" as="pogoj">
                    <f:if condition="{pogoj.tip} == 4">
                        <f:if condition="{pogoj.dovoljenjeVTujini.nacinPriznavanja}==1">
                            <f:link.action action="show" pageUid="{settings.dovoljenjavtujini}" class="btn btnblack" arguments="{dovoljenjeVTujini : pogoj.dovoljenjeVTujini.uid, poklic: poklic}" controller="DovoljenjeVTujini"><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij.avtomaticno_priznavanje" /></f:link.action>
                        </f:if>

                        <f:if condition="{pogoj.dovoljenjeVTujini.nacinPriznavanja}==2">
                            <f:link.action action="show" pageUid="{settings.dovoljenjavtujini}" class="btn btnblack" arguments="{dovoljenjeVTujini : pogoj.dovoljenjeVTujini.uid, poklic: poklic}" controller="DovoljenjeVTujini"><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_kvalifikacij.splosni_sistem_priznavanja" /></f:link.action>
                        </f:if>

                        <f:if condition="{pogoj.dovoljenjeVTujini.nacinPriznavanja}==3">
                            <f:link.action action="show" pageUid="{settings.dovoljenjavtujini}" class="btn btnblack" arguments="{dovoljenjeVTujini : pogoj.dovoljenjeVTujini.uid, poklic: poklic}" controller="DovoljenjeVTujini"><f:translate key="tx_a3ekt_domain_model_poklic.priznavanje_poklicnih_izkusenj" /></f:link.action>
                        </f:if>
                    </f:if>
                </f:for>
                </p>
            </div>
        </f:if>

        <f:if condition="{poklic.sekundarneVsebine}">
            <f:for each="{poklic.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 2">
                    <div class="module highlight">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
            </f:for>
        </f:if>

        <f:if condition="{poklic.zakonodajniOrgan}">
            <f:render partial="Organ" arguments="{header: 'zakonodajni_organ2', organ: poklic.zakonodajniOrgan, kontakt: poklic.zakonodajniOrganKontakt}" />
        </f:if>

        <f:if condition="{poklic.pravnePodlage}">

            <div class="module">
                <h3><f:translate key="tx_a3ekt_domain_model_poklic.pravne_podlage" /></h3>
                <ul class="links sorodnePovezave">
                    <f:for each="{pravnePodlage}" as="pravnaPodlaga">
                        <li class="external"><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
                    </f:for>
                </ul>
            </div>

        </f:if>

        <f:if condition="{poklic.sekundarneVsebine}">
            <f:for each="{poklic.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 1">
                    <div class="module">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
            </f:for>
        </f:if>

        <f:if condition="{poklic.sorodnePovezave}">

            <div class="module">
                <h3><f:translate key="tx_a3ekt_domain_model_poklic.sorodne_povezave2" /></h3>
                <ul class="links sorodnePovezave">
                    <f:for each="{poklic.sorodnePovezave}" as="sorodnaPovezava">
                        <li class="external"><f:link.external uri="{sorodnaPovezava.url}" target="_blank">{sorodnaPovezava.naziv}</f:link.external></li>
                    </f:for>
                </ul>
            </div>

        </f:if>

        <f:if condition="{poklic.sekundarneVsebine}">
            <f:for each="{poklic.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 3">
                    <div class="help">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                        <span class="arrow"></span>
                    </div>
                </f:if>
            </f:for>
        </f:if>

    </aside>

</f:section>