<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_ektdejavnost.naziv" />
		</td>
		<td>
			{eKTDejavnost.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_ektdejavnost.sifra" />
		</td>
		<td>
			{eKTDejavnost.sifra}
		</td>
	</tr>
</table>