<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for EKTDejavnost</h1>

<f:flashMessages />

<table  class="tx_a3ekt" >
	<tr>
		<th><f:translate key="tx_a3ekt_domain_model_ektdejavnost.naziv" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_ektdejavnost.sifra" /></th>
	</tr>

	<f:for each="{eKTDejavnosts}" as="eKTDejavnost">
		<tr>
			<td><f:link.action action="show" arguments="{eKTDejavnost : eKTDejavnost}"> {eKTDejavnost.naziv}</f:link.action></td>
			<td><f:link.action action="show" arguments="{eKTDejavnost : eKTDejavnost}"> {eKTDejavnost.sifra}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>