<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
    Private:
        Templates:
            Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:flashMessages />

    <article class="content-container">
        <h1>{eKTDejavnost.naziv}</h1>
        <ul class="gallery" style="margin-left:0">
            <f:for each="{eKTDejavnost.dejavnosti}" as="dejavnost" iteration="slikeIterator">
                <f:if condition="{dejavnost.slika}">
                    
                    <f:if condition="{slikeIterator.index} == 0">
                        <f:then><li class="first" style="padding-left:0;"></f:then>
                        <f:else><li style="padding-left:0;"></f:else>
                    </f:if>
                        <figure>
                            <a title="{dejavnost.opisSlike}" href="uploads/tx_a3ekt/{dejavnost.slika}" rel="gallery-0">
                                <span class="magnify"></span>
                                <f:image src="uploads/tx_a3ekt/{dejavnost.slika}" alt="{dejavnost.opisSlike}" maxWidth="215" maxHeight="160"/>
                            </a>
                            <figcaption>
                                {dejavnost.opisSlike}
                                <span class="count">{slikeIterator.index}/{slikeIterator.total}</span>
                            </figcaption>
                        </figure>
                    </li>
                </f:if>
            </f:for>
        </ul>
        
        <div class="content">
            <p>Morbi molestie scelerisque dui ut feugiat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse non enim et nulla gravida elementum. Nulla dictum congue metus, tincidunt sollicitudin lorem imperdiet at. Praesent eu ante ante, eget lobortis lacus. Curabitur pretium massa ut neque volutpat tincidunt. Nam ut tortor dolor, eget cursus mauris. Cras scelerisque mauris id nulla iaculis nec convallis dolor interdum.</p>
            <p>Morbi molestie scelerisque dui ut feugiat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse non enim et nulla gravida elementum. Nulla dictum congue metus, tincidunt sollicitudin lorem imperdiet at. Praesent eu ante ante, eget lobortis lacus. Curabitur pretium massa ut neque volutpat tincidunt. Nam ut tortor dolor, eget cursus mauris.</p>
            
            <h2>Dejavnosti</h2>
            <ul class="links">
                <f:for each="{eKTDejavnost.dejavnosti}" as="dejavnost">
                    <li><f:link.action action="show" pageUid="{settings.dejavnosti}" arguments="{dejavnost : dejavnost}" controller="Dejavnost"> {dejavnost.naziv}</f:link.action></li>
                </f:for>
            </ul>

            <h2>Poklici</h2>
            <ul class="links">
                <f:for each="{eKTDejavnost.poklici}" as="poklic">
                    <li>{poklic.tip}</li>
                </f:for>
            </ul>
            
            <h2>Dovoljenja</h2>
            <ul class="links">
                <f:for each="{eKTDejavnost.dovoljenja}" as="dovoljenje">
                    <li><f:link.action action="show" arguments="{dovoljenje : dovoljenje}" controller="Dovoljenje"> {dovoljenje.naziv}</f:link.action></li>
                </f:for>
            </ul>
        </div>
        
    </article>

    <aside>
        <div class="module highlight">
            <h3>Highlight title</h3>
            <p>Cum sociis natoque penatibus et magnis um sociis natoque penatibus et magnis dis parturient montes</p>
            <a href="#" class="btn">Button text</a>
        </div>
        <div class="module">
            <h3>Information</h3>
            <ul class="links">
                <li><a href="A3.0_podrocja_dejavnosti.php">Dejavnosti po podrocjih</a></li>
                <li><a href="A5.0_dejavnosti_seznam.php">Seznam dejavnosti</a></li>
                <li><a href="A5.1_dejavnosti.php">Organiziranje turističnih aranžmajev</a></li>
                <li><a href="A6.1_dovoljenje.php">Dovoljenje detajl</a></li>
                <li><a href="A6.0_dovoljenje-seznam.php">Dovoljenja seznam</a></li>
                <li><a href="A7.0_poklici_seznam.php">Poklici seznam</a></li>
                <li><a href="A7.1_kvalifikacija.php">Kvalifikacija</a></li>
                <li><a href="A8.1_pogoj.php">Pogoj</a></li>	
                <li><a href="A9.0_registri_seznam.php">Registri seznam</a></li>
                <li><a href="A10.1_pogosta-vprasanja.php">Pogosta vprašanja</a></li>
                <li><a href="A10.2_slovar_pojmov.php">Slovar pojmov</a></li>
                <li class="no-link"><a href="B1_e_obvescanje.php">E-obveščanje</a></li>
                <li class="no-link"><a href="B2_splosna_stran_brez_navigacije.php">Splošna stran</a></li>
                <li class="no-link"><a href="B3_kazalo_strani.php">Kazalo trani</a></li>
                <li class="no-link"><a href="W_rezultati_iskanja.php">Rezultati iskanja</a></li>
            </ul>
        </div>
        <div class="module">
            <h3>Informations</h3>
            <ul class="links">
                <li class="external"><a href="#">Considering</a></li>
                <li class="external"><a href="#">Business registration</a></li>
                <li class="external"><a href="#">Providing services crossborder</a></li>
            </ul>
            <a href="#" class="more">All items</a>
        </div>
    </aside>

</f:section>