<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.dovoljenja_v_tujini" /></h1>

<f:flashMessages />

<table  class="tx_a3ekt" >
	<tr>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.naziv_dovoljenja" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.nacin_priznavanja" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.obvezno_clanstvo" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.obnova" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.termin_obnove" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.opis_obnove" /></th>
		<th><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.drugo" /></th>
	</tr>

	<f:for each="{dovoljenjeVTujinis}" as="dovoljenjeVTujini">
		<tr>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.nazivDovoljenja}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.nacinPriznavanja}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.obveznoClanstvo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.obnova}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.terminObnove}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.opisObnove}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dovoljenjeVTujini : dovoljenjeVTujini}"> {dovoljenjeVTujini.drugo}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>