{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

<article class="content-container">
	
	<h1>{dovoljenjeVTujini.nazivDovoljenja}</h1>
	
	<div class="content">
		<f:format.html parseFuncTSPath="lib.parseFunc">{dovoljenjeVTujini.opis}</f:format.html>
	</div>
	
	<f:if condition="{pogoji}">
        
            <h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pogoji_in_dokazila" /></h2>
			
			<f:if condition="{dejavnost}">
            	<f:render partial="Dejavnost/PovezavePogoji" arguments="{pogoji: pogoji, dejavnost: dejavnost}" />
			</f:if>
			
			<f:if condition="{poklic}">
            	<f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
			</f:if>
			<f:if condition="{povezavePoklicev}">
            	<f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
			</f:if>

	</f:if>
    
    
    
    <f:if condition="{dovoljenjeVTujini.vloge}">
            <div class="additional">
                <h3><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.vloga_za_pridobitev_dovoljenja" /></h3>
                <ul class="documents">
                <f:for each="{dovoljenjeVTujini.vloge}" as="vloga">
                    <li><f:link.external uri="{vloga.url}">{vloga.naziv}</f:link.external></li>
                </f:for>
                </ul>
            </div>
        </f:if>
    
    <f:if condition="{dovoljenjeVTujini.prilogeKVlogi}">
        <ul class="expandables expandables-complex priloge">
            <li class="item_dark">
			<h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.priloge_k_vlogi" /></h2>
			<div class="hr"><hr/></div>
			<ul>
            <f:for each="{dovoljenjeVTujini.prilogeKVlogi}" as="prilogaKVlogi">
                <f:if condition="{prilogaKVlogi.url}">
                    <f:then>
                        <li><f:link.external class="trigger" uri="{prilogaKVlogi.url}" target="_blank">{prilogaKVlogi.naziv}</f:link.external></li>
                    </f:then>
                    <f:else>
                        <li><a class="trigger noLink">{prilogaKVlogi.naziv}</a></li>
                    </f:else>
                </f:if>
            </f:for>
			</ul>
            </li>
        </ul>
        </f:if>
    
    <f:if condition="{dovoljenjeVTujini.opomba}">
	<div class="content">
        <h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pomembno_je_tudi" /></h2>
		<f:format.html parseFuncTSPath="lib.parseFunc">{dovoljenjeVTujini.opomba}</f:format.html>
	</div>
    </f:if>
    
    <f:if condition="{dovoljenjeVTujini.pravnePodlageTujina}">
        
        <div class="content">
            <h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pravne_podlage" /></h2>
            <ul>
                <f:for each="{dovoljenjeVTujini.pravnePodlageTujina}" as="pravnaPodlaga">
                    <li><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
                </f:for>
            </ul>
            
            <f:if condition="{dovoljenjeVTujini.pravnoSredstvo}">
			<div>
				<h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pravno_varstvo" /></h2>
				<ul>
		        <li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pravno_sredstvo" />:</strong>
		            <f:if condition="{dovoljenjeVTujini.pravnoSredstvo} == 1"><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pritozba" /></f:if>
		            <f:if condition="{dovoljenjeVTujini.pravnoSredstvo} == 2"><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.upravni_spor" /></f:if>
		        </li>

				<f:if condition="{dovoljenjeVTujini.pritozbeniOrgan}">
			        <li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.pristojni_organ" />:</strong> {dovoljenjeVTujini.pritozbeniOrgan.naziv}</li>
			    </f:if>

			    <f:if condition="{dovoljenjeVTujini.molkOrgana}">
					<li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.molk_organa" />:</strong> {dovoljenjeVTujini.molkOrgana}</li>
			    </f:if>
				</ul>
				
		    </div>
		</f:if>
		
        <f:if condition="{dovoljenjeVTujini.obnova}">
            <h2><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.druge_aktivnosti" /></h2>
			<f:if condition="{dovoljenjeVTujini.opisObnove}">
            	<p>{dovoljenjeVTujini.opisObnove -> f:format.raw()}</p>
			</f:if>
			<f:if condition="{dovoljenjeVTujini.drugo}">
            	<p>{dovoljenjeVTujini.drugo}</p>
			</f:if>
			<f:if condition="{dovoljenjeVTujini.terminObnove}">
            	<p><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.termin_obnove" />: {dovoljenjeVTujini.terminObnove}</p>
			</f:if>
            
            <f:if condition="{dovoljenjeVTujini.obveznoClanstvo} == 1">
                <p><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.obvezno_clanstvo" /></p>
            </f:if>
		</f:if>
        </div>
    
    </f:if>

    <div class="hr last-change-hr"></div>
	<div class="last-change"><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.datum_zadnje_spremembe_strani" />: <strong><f:cObject typoscriptObjectPath="lib.lastUpdate" /></strong></div>
	
</article>

<aside>
        
        
        <f:if condition="{dovoljenjeVTujini.pristojniOrgan}">
            <f:render partial="Organ" arguments="{header: 'pristojni_organ2', organ: dovoljenjeVTujini.pristojniOrgan, kontakt: dovoljenjeVTujini.kontaktnaOseba}" />
        </f:if>
        
        <f:if condition="{dovoljenjeVTujini.stroskiPostopka}">
        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.stroski_postopka" /></h3>
            <dl class="calculation">
            <f:for each="{dovoljenjeVTujini.stroskiPostopka}" as="strosekPostopka">
                <dt>{strosekPostopka.nazivStroska}</dt>
                <dd><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{strosekPostopka.znesek}</f:format.currency></dd>
                <div class="clear"></div>
            </f:for>
                <dt class="total"><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.skupaj" /></dt>
                <dd class="total"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="."><ekt:stroskiPostopka stroskiPostopka="{dovoljenjeVTujini.stroskiPostopka}" /></f:format.currency></dd>
            </dl>
        </div>
        </f:if>
        
        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.koraki_postopka" /></h3>
            <ul class="steps">
                <f:for each="{dovoljenjeVTujini.korakiPostopka}" as="korakPostopka" iteration="korakPostopkaIterator">
				
				<f:if condition="{korakPostopkaIterator.isLast}">
				<f:then>
				
                    <f:if condition="{korakPostopka.terminskiRok}">
                        <f:then>
                            <li class="last" title="{f:translate(key: 'tx_a3ekt_domain_model_dovoljenjevtujini.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                        </f:then>
                        <f:else>
                            <li class="last">{korakPostopka.korak.naziv}</li>
                        </f:else>
                    </f:if>

				</f:then>
				<f:else>
					
					<f:if condition="{korakPostopka.terminskiRok}">
                        <f:then>
                            <li title="{f:translate(key: 'tx_a3ekt_domain_model_dovoljenjevtujini.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                        </f:then>
                        <f:else>
                            <li>{korakPostopka.korak.naziv}</li>
                        </f:else>
                    </f:if>
					
				</f:else>
				</f:if>

                </f:for>
            </ul>
        </div>
</aside>
</f:section>