

<div id="typo3-docheader">
	<div id="typo3-docheader-row1">
		<div class="buttonsleft"></div>
		<div class="buttonsright"><div class="buttongroup"><a href="#" onclick="top.ShortcutManager.createShortcut(String.fromCharCode(67,114,101,97,116,101,32,97,32,98,111,111,107,109,97,114,107,32,116,111,32,116,104,105,115,32,112,97,103,101), '', 'tools_txreportsM1', '%2Ftypo3%2Fmod.php%3F%26M%3Dtools_txreportsM1%26SET%5Bfunction%5D%3Dtx_reports.status');return false;" title="Create a bookmark to this page"><span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-shortcut-new">&nbsp;</span></a></div></div>
	</div>
	
	<div id="typo3-docheader-row2">
		<div class="docheader-row2-left">
			<div class="docheader-funcmenu">
				<!-- Function Menu of module -->
				<select name="action" onchange="jumpToUrl('mod.php?&amp;id=0&amp;M=help_A3EktHelp&amp;tx_a3ekt_help_a3ekthelp%5Baction%5D='+this.options[this.selectedIndex].value,this);">
					<option value="helpOverview" <f:if condition="{0:helpChecked} == {0:'overview'}">selected="selected"</f:if>>Pregled</option>
					<option value="helpPrimarne" <f:if condition="{0:helpChecked} == {0:'primarne'}">selected="selected"</f:if>>Primarne EUGO vsebine</option>
					<option value="helpSekundarne" <f:if condition="{0:helpChecked} == {0:'sekundarne'}">selected="selected"</f:if>>Sekundarne EUGO vsebine</option>
					<option value="helpOsnovno" <f:if condition="{0:helpChecked} == {0:'osnovno'}">selected="selected"</f:if>>Osnovno delo z TYPO3 vmesnikom</option>
				</select>
			</div>
		</div>
		<div class="docheader-row2-right"> </div>
	</div>
</div>