table span.t3-form-field-container b {
	font-size:14px;
}

table span.t3-form-field-container {
	font-size:12px;
}

table .formField-header abbr,
table .formField-header .class-main4 strong {
	font-size:12px;
}

table.typo3-TCEforms .class-main1 td,
table.typo3-TCEforms .class-main11 td,
table.typo3-TCEforms .class-main21 td,
table.typo3-TCEforms .class-main31 td, 
table.typo3-TCEforms .class-main41 td, 
table.typo3-TCEforms .class-main51 td {
	padding: 0px !important;
}

/************************************************************************/
/*hiding unused cezmejno forms. If form removed in TCA FE does not work!*/
div[id*='TCEFORMS_tx_a3ekt_domain_model_poklic_step08'], 
div[id*='TCEFORMS_tx_a3ekt_domain_model_dejavnost_step09_99'] {
	display:none !important;
}
/************************************************************************/