
a {
	color: #3077AE;
	text-decoration: none;
}

a:hover {
	color: #3077AE;
	text-decoration: underline;
}

ul.index {
	padding-bottom: 15px;
}

ul.index li {
	padding: 3px;
	list-style: disc;
	margin-left: 20px;
}

.frame {
	padding: 20px;
	padding-top: 40p;
}