<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.naziv" />
		</td>
		<td>
			{cezmejnoDovoljenje.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.oznaka" />
		</td>
		<td>
			{cezmejnoDovoljenje.oznaka}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.pravno_sredstvo" />
		</td>
		<td>
			{cezmejnoDovoljenje.pravnoSredstvo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.molk_organa" />
		</td>
		<td>
			{cezmejnoDovoljenje.molkOrgana}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_cezmejnodovoljenje.opomba" />
		</td>
		<td>
			{cezmejnoDovoljenje.opomba}
		</td>
	</tr>
</table>