{namespace ekt=Tx_A3Ekt_ViewHelpers}
{namespace fed=Tx_Fed_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:if condition="{dejavnost.kljucneBesede}">
        <fed:pageRenderer.addMetaTag meta="<meta name=\"keywords\" content=\"{dejavnost.kljucneBesede}\">"/>
    </f:if>

    <f:flashMessages />

    <article class="content-container">

        <h1>{dejavnost.naziv}</h1>

        <f:if condition="{dejavnost.slika}">
            <ul class="gallery">
                <li class="first">
                    <figure>
                        <a title="{dejavnost.opisSlike}" href="uploads/tx_a3ekt/{dejavnost.slika}" rel="gallery-0">
                            <span class="magnify"></span>
                            <f:image src="uploads/tx_a3ekt/{dejavnost.slika}" alt="{dejavnost.opisSlike}" width="215c" height="160c"/>
                            <figcaption>
                                {dejavnost.opisSlike}
                            </figcaption>
                        </a>
                    </figure>
                </li>
            </ul>
        </f:if>

        <div class="content">
            <f:format.html parseFuncTSPath="lib.parseFunc">{dejavnost.opis}</f:format.html>
        </div>

        <div class="clear"><br/></div>
        <f:if condition="{dejavnost.eKTPovezavePogoji}">
            <h2><f:translate key="tx_a3ekt_domain_model_dejavnost.pogoji_in_dokazila" /></h2>
            <f:render partial="Dejavnost/PovezavePogoji" arguments="{pogoji: dejavnost.eKTPovezavePogoji, dejavnost: dejavnost}" />    
        </f:if>


        <f:if condition="{dejavnost.opomba}">
            <div class="content">
                <h2><f:translate key="tx_a3ekt_domain_model_dejavnost.pomembno_je_tudi" /></h2>
                <f:format.html parseFuncTSPath="lib.parseFunc">{dejavnost.opomba}</f:format.html>
            </div>
        </f:if>

        <f:if condition="{dejavnost.pravnePodlage}">

            <div class="content">
                <h2 class="padding_top_header"><f:translate key="tx_a3ekt_domain_model_dejavnost.pravne_podlage" /></h2>
                <ul>
                    <f:for each="{pravnePodlage}" as="pravnaPodlaga">
                        <li><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
                    </f:for>
                </ul>
            </div>

        </f:if>

        <div class="hr last-change-hr"></div>
        <div class="last-change">
            <f:if condition="{dejavnost.vir}">
                <f:if condition="{dejavnost.vir.spletniNaslov}">
                    <f:then>
                        <f:translate key="tx_a3ekt_domain_model_dejavnost.vir" />: <strong><f:link.external uri="{dejavnost.vir.spletniNaslov}" target="_blank">{dejavnost.vir.naziv}</f:link.external></strong>&nbsp;|
                    </f:then>
                    <f:else>
                        <f:translate key="tx_a3ekt_domain_model_dejavnost.vir" />: <strong>{dejavnost.vir.naziv}</strong>&nbsp;|
                    </f:else>
                </f:if>
            </f:if>
            <f:translate key="tx_a3ekt_domain_model_dejavnost.datum_zadnje_spremembe_strani" />: <strong><f:cObject typoscriptObjectPath="lib.lastUpdate" /></strong>
        </div>

    </article>

    <aside>
        <f:if condition="{dejavnost.sekundarneVsebine}">
            <f:for each="{dejavnost.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 1">
                    <div class="module">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
                <f:if condition="{sekundarnaVsebina.contentType} == 2">
                    <div class="module highlight">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
                <f:if condition="{sekundarnaVsebina.contentType} == 3">
                    <div class="help">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                        <span class="arrow"> </span>
                    </div>
                </f:if>
            </f:for>
        </f:if>

        <div class="module highlight">
            <h3><f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno_opravljanje_dejavnosti" /></h3>
            <p>
            <f:if condition="{dejavnost.cezmejnoOpravljanje} == 0">
                <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.opravljanje_ni_mozno_en" htmlEscape="0" /><f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno" /></f:link.page> <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.opravljanje_ni_mozno" />
            </f:if>
            <f:if condition="{dejavnost.cezmejnoOpravljanje} > 0">
                <f:if condition="{dejavnost.cezmejnoOpravljanje} == 1">
                    <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.dejavnost_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.pred_prvim_opravljanjem" htmlEscape="0"/>
                </f:if>
                <f:if condition="{dejavnost.cezmejnoOpravljanje} == 2">
                    <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.dejavnost_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.pred_prvim_opravljanjem2" htmlEscape="0"/><br />

                    <f:for each="{dejavnost.eKTPovezavePogoji}" as="pogoj">
                        <f:if condition="{pogoj.tip} == 3">
                            <f:link.action action="show" pageUid="{settings.cezmejnadovoljenja}" class="btn btnblack" arguments="{cezmejnoDovoljenje : pogoj.cezmejnoDovoljenje.uid, dejavnost: dejavnost}" controller="CezmejnoDovoljenje">
                                <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.pridobitev_dovoljenja" />
                            </f:link.action>
                        </f:if>
                    </f:for>
                
                </f:if>
                <f:if condition="{dejavnost.cezmejnoOpravljanje} == 3">
                    <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.dejavnost_lahko_opravljate" htmlEscape="0" /> <f:link.page style="color:#fff; text-decoration:underline;" pageUid="{settings.cezmejnoObcasnoOpravljanje}"><f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno_lower" /></f:link.page>. <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.pred_prvim_opravljanjem3" htmlEscape="0"/><br /><br />
                    <f:translate key="tx_a3ekt_domain_model_dejavnost.cezmejno_obcasno.pristojni_organ" />:<br />
                    {dejavnost.organZaPrijavoBrezPostopka.naziv}
                </f:if>
                <f:if condition="{dejavnost.cezmejnoOpravljanje} == 99">
                    <f:format.html>{dejavnost.cezmejnoOpravljenjeObrazlozitev}</f:format.html>
                </f:if>
            </f:if>
            </p>
        </div>

        <div class="module">
            <dl>
                <dt><f:translate key="tx_a3ekt_domain_model_dejavnost.podrocje" />:</dt>

                <dd><f:link.action pageUid="{settings.sektorji}" arguments="{sektor: dejavnost.dejavnostPoEKT.sektorDejavnosti.uid }" controller="Sektor" action="show"><strong>{dejavnost.dejavnostPoEKT.sektorDejavnosti.naziv}</strong></f:link.action></dd>

                <dt><f:translate key="tx_a3ekt_domain_model_dejavnost.skd_stevilka" />:</dt>
                <dd>
                <f:for each="{dejavnost.dejavnostPoEKT.skdDejavnosti}" as="skdDejavnosti">
                    {skdDejavnosti.sifraKategorije}<br />
                </f:for>
                </dd>
            </dl>
        </div>
        
        <f:if condition="{dejavnost.zakonodajniOrgan}">
            <f:render partial="Organ" arguments="{header: 'zakonodajni_organ2', organ: dejavnost.zakonodajniOrgan, kontakt: dejavnost.zakonodajniOrganKontakt}" />
        </f:if>

        <f:if condition="{dejavnost.sekundarneVsebine}">
            <f:for each="{dejavnost.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 1">
                    <div class="module">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                    </div>
                </f:if>
            </f:for>
        </f:if>

        <f:if condition="{dejavnost.sorodnePovezave}">

            <div class="module">
                <h3><f:translate key="tx_a3ekt_domain_model_dejavnost.sorodne_povezave2" /></h3>
                <ul class="links sorodnePovezave">
                    <f:for each="{dejavnost.sorodnePovezave}" as="sorodnaPovezava">
                        <li class="external"><f:link.external uri="{sorodnaPovezava.url}" target="_blank">{sorodnaPovezava.naziv}</f:link.external></li>
                    </f:for>
                </ul>
            </div>

        </f:if>

        <f:if condition="{dejavnost.sekundarneVsebine}">
            <f:for each="{dejavnost.sekundarneVsebine}" as="sekundarnaVsebina">
                <f:if condition="{sekundarnaVsebina.contentType} == 3">
                    <div class="help">
                        <h3>{sekundarnaVsebina.header}</h3>
                        <f:format.html>{sekundarnaVsebina.content}</f:format.html>
                        <span class="arrow"></span>
                    </div>
                </f:if>
            </f:for>
        </f:if>

    </aside>

</f:section>