<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.naziv_dovoljenja" />
		</td>
		<td>
			{dovoljenjeVTujini.nazivDovoljenja}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.nacin_priznavanja" />
		</td>
		<td>
			{dovoljenjeVTujini.nacinPriznavanja}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.obvezno_clanstvo" />
		</td>
		<td>
			{dovoljenjeVTujini.obveznoClanstvo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.obnova" />
		</td>
		<td>
			{dovoljenjeVTujini.obnova}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.termin_obnove" />
		</td>
		<td>
			{dovoljenjeVTujini.terminObnove}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.opis_obnove" />
		</td>
		<td>
			{dovoljenjeVTujini.opisObnove}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_dovoljenjevtujini.drugo" />
		</td>
		<td>
			{dovoljenjeVTujini.drugo}
		</td>
	</tr>
</table>