<table class="tx-a3-ekt" >
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_sektor.naziv" />
		</td>
		<td>
			{sektor.naziv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_a3ekt_domain_model_sektor.opis" />
		</td>
		<td>
			{sektor.opis}
		</td>
	</tr>
</table>