<div class="content">
    <h2>Pogoji pogojev</h2>

	<ul class="expandables expandables-complex">
    	<f:for each="{pogoji}" as="ektPogoj">

        	<f:if condition="{ektPogoj.tip} == 99">
	            <span class="divider">--- <f:translate key="or" /> ---</span>
	        </f:if>
	        <f:if condition="{ektPogoj.tip} == 1">
	            <f:for each="{ektPogoj.poklic.poklic}" as="poklic">
	                <li class="item">
	                    <f:link.action action="show" pageUid="{settings.poklici}" arguments="{poklic : poklic.uid}" controller="Poklic">{poklic.naziv}</f:link.action>
	                </li>
	            </f:for>
	        </f:if>    
	        <f:if condition="{ektPogoj.tip} == 2">
            
	            <li class="item">
					<f:if condition="{dejavnost}">
					<f:then>
						<f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, dejavnost: dejavnost}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="show" pageUid="{settings.dovoljenja}" arguments="{dovoljenje : ektPogoj.dovoljenje, povezavePogojev: ektPogoj.uid}" controller="Dovoljenje">{ektPogoj.dovoljenje.naziv}</f:link.action>
					</f:else>
					</f:if>            
	            </li>
	        </f:if>
        
	        <f:if condition="{ektPogoj.tip} == 3">

	            <li class="item">
					<f:link.action pageUid="{settings.cezmejnadovoljenja}" arguments="{cezmejnoDovoljenje : ektPogoj.cezmejnoDovoljenje}" controller="CezmejnoDovoljenje" action="show">{ektPogoj.cezmejnoDovoljenje.naziv}</f:link.action>
	            </li>
	        </f:if>

	        <f:if condition="{ektPogoj.tip} == 4">
	            <li class="item">
	                <f:link.action pageUid="{settings.drugipogoji}" arguments="{drugiPogoj : ektPogoj.drugiPogoj}" controller="DrugiPogoj" action="show">{ektPogoj.drugiPogoj.naziv}</f:link.action>
	            </li>
	        </f:if>

			<f:if condition="{ektPogoj.tip} == 5">
	            <!-- do we need this ? -->
	        </f:if>
        
	    </f:for>
	</ul>

</div>