{namespace ekt=Tx_A3Ekt_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:flashMessages />

    <article class="content-container">
        <h1>{dovoljenje.naziv}</h1>
        <div class="content">
            <f:format.html parseFuncTSPath="lib.parseFunc">{dovoljenje.opis}</f:format.html>
        </div>

        <f:if condition="{pogoji}">

            <h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.pogoji_in_dokazila" /></h2>

            <f:if condition="{dejavnost}">
                <f:render partial="Dejavnost/PovezavePogoji" arguments="{pogoji: pogoji, dejavnost: dejavnost}" />
            </f:if>

            <f:if condition="{poklic}">
                <f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
            </f:if>
            <f:if condition="{povezavePoklicev}">
                <f:render partial="Poklic/PovezavePoklicev" arguments="{pogoji: pogoji, poklic: poklic, firstLevel: 0}" />
            </f:if>

        </f:if>

        <f:if condition="{poklici}">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.seznam_poklicev" /></h3>
            <f:if condition="{stPoklicev} > {limit}">
                <f:then>
                    <ul class="links toggleList">
                </f:then>
                <f:else>
                    <ul class="links">
                </f:else>
            </f:if>
            <f:for each="{poklici}" as="poklic">
                <li><f:link.action action="show" pageUid="{settings.poklici}" arguments="{poklic : poklic.uid, dovoljenje: dovoljenje}" controller="Poklic">{poklic.naziv}</f:link.action></li>
            </f:for>
            </ul>
            <f:if condition="{stPoklicev} > {limit}">
                <a href="javascript:void(0);" class="more toggleList"><f:translate key="tx_a3ekt_domain_model_dovoljenje.vec" /></a>
                <a href="javascript:void(0);" class="more toggleListOpen"><f:translate key="tx_a3ekt_domain_model_dovoljenje.manj" /></a>
            </f:if>
        </f:if>

        <f:if condition="{dejavnosti}">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.seznam_dejavnosti" /></h3>
            <f:if condition="{stDejavnosti} > {limit}">
                <f:then>
                    <ul class="links toggleList">
                </f:then>
                <f:else>
                    <ul class="links">
                </f:else>
            </f:if>
            <f:for each="{dejavnosti}" as="dejavnostSingle">
                <li><f:link.action action="show" pageUid="{settings.dejavnosti}" arguments="{dejavnost : dejavnostSingle.uid, dovoljenje: dovoljenje}" controller="Dejavnost">{dejavnostSingle.naziv}</f:link.action></li>
            </f:for>
            </ul>
            <f:if condition="{stDejavnosti} > {limit}">
                <a href="javascript:void(0);" class="more toggleList"><f:translate key="tx_a3ekt_domain_model_dovoljenje.vec" /></a>
                <a href="javascript:void(0);" class="more toggleListOpen"><f:translate key="tx_a3ekt_domain_model_dovoljenje.manj" /></a>
            </f:if>
        </f:if>

        <f:if condition="{dovoljenje.vloge}">
            <div class="additional">
                <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.vloga_za_pridobitev_dovoljenja" /></h3>
                <ul class="documents">
                    <f:for each="{dovoljenje.vloge}" as="vloga">
                        <li><f:link.external uri="{vloga.url}">{vloga.naziv}</f:link.external></li>
                    </f:for>
                </ul>
            </div>
        </f:if>

        <f:if condition="{dovoljenje.prilogeKVlogi}">
            <ul class="expandables expandables-complex priloge">
                <li class="item_dark">
                    <h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.priloge_k_vlogi" /></h2>
                    <div class="hr"><hr/></div>
                    <ul>
                        <f:for each="{dovoljenje.prilogeKVlogi}" as="prilogaKVlogi">
                            <f:if condition="{prilogaKVlogi.url}">
                                <f:then>
                                    <li><f:link.external class="trigger" uri="{prilogaKVlogi.url}" target="_blank">{prilogaKVlogi.naziv}</f:link.external></li>
                                </f:then>
                                <f:else>
                                    <li><a class="trigger noLink">{prilogaKVlogi.naziv}</a></li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </li>
            </ul>
        </f:if>

        <f:if condition="{dovoljenje.pravnoSredstvo}">
            <div>
                <h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.pravno_varstvo" /></h2>
                <ul>
                    <li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenje.pravno_sredstvo" />:</strong>
                    <f:if condition="{dovoljenje.pravnoSredstvo} == 1"><f:translate key="tx_a3ekt_domain_model_dovoljenje.pritozba" /></f:if>
                    <f:if condition="{dovoljenje.pravnoSredstvo} == 2"><f:translate key="tx_a3ekt_domain_model_dovoljenje.upravni_spor" /></f:if>
                    </li>

                    <f:if condition="{dovoljenje.pritozbeniOrgan}">
                        <li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenje.pristojni_organ" />:</strong> {dovoljenje.pritozbeniOrgan.naziv}</li>
                    </f:if>

                    <f:if condition="{dovoljenje.molkOrgana}">
                        <li><strong><f:translate key="tx_a3ekt_domain_model_dovoljenje.molk_organa" />:</strong> {dovoljenje.molkOrgana}</li>
                    </f:if>
                </ul>

            </div>
        </f:if>

        <f:if condition="{dovoljenje.obnova}">
            <h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.druge_aktivnosti" /></h2>
            <f:if condition="{dovoljenje.opisObnove}">
                <p>{dovoljenje.opisObnove -> f:format.raw()}</p>
            </f:if>
            <f:if condition="{dovoljenje.drugo}">
                <p>{dovoljenje.drugo}</p>
            </f:if>
            <f:if condition="{dovoljenje.terminObnove}">
                <p><f:translate key="tx_a3ekt_domain_model_dovoljenje.termin_obnove" />: {dovoljenje.terminObnove}</p>
            </f:if>

            <f:if condition="{dovoljenje.obveznoClanstvo} == 1">
                <p><f:translate key="tx_a3ekt_domain_model_dovoljenje.obvezno_clanstvo" /></p>
            </f:if>
        </f:if>

	    <f:if condition="{dovoljenje.pravnaPodlaga}">
	        <div class="content">
        		<h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.pravne_podlage" /></h2>
        		<ul>
            		<f:for each="{dovoljenje.pravnaPodlaga}" as="pravnaPodlaga">
                		<li><f:link.external uri="{pravnaPodlaga.url}" target="_blank">{pravnaPodlaga.naziv}</f:link.external></li>
            		</f:for>
        		</ul>
			</div>
		</f:if>

        <f:if condition="{dovoljenje.opomba}">
            <div class="content">
                <h2><f:translate key="tx_a3ekt_domain_model_dovoljenje.pomembno_je_tudi" /></h2>
                <f:format.html parseFuncTSPath="lib.parseFunc">{dovoljenje.opomba}</f:format.html>
            </div>
        </f:if>

        <div class="hr last-change-hr"></div>
        <div class="last-change">
            <f:if condition="{dovoljenje.vir}">
                <f:if condition="{dovoljenje.vir.spletniNaslov}">
                    <f:then>
                        <f:translate key="tx_a3ekt_domain_model_dovoljenje.vir" />: <strong><f:link.external uri="{dovoljenje.vir.spletniNaslov}" target="_blank">{dovoljenje.vir.naziv}</f:link.external></strong>&nbsp;|
                    </f:then>
                    <f:else>
                        <f:translate key="tx_a3ekt_domain_model_dovoljenje.vir" />: <strong>{dovoljenje.vir.naziv}</strong>&nbsp;|
                    </f:else>
                </f:if>
            </f:if>
            <f:translate key="tx_a3ekt_domain_model_dovoljenje.datum_zadnje_spremembe_strani" />: <strong><f:cObject typoscriptObjectPath="lib.lastUpdate" /></strong>
        </div>

    </article>

    <aside>
        <f:if condition="{dovoljenje.opombe}">
            <div class="module highlight">
                <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.pomembno" /></h3>
                <p>{dovoljenje.opombe -> f:format.raw()}</p>
            </div>
        </f:if>

        <f:if condition="{dovoljenje.pristojniOrgan}">
            <f:render partial="Organ" arguments="{header: 'pristojni_organ2', organ: dovoljenje.pristojniOrgan, kontakt: dovoljenje.kontaktnaOseba}" />
        </f:if>

        <f:if condition="{dovoljenje.stroskiPostopka}">
            <div class="module">
                <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.stroski_postopka" /></h3>
                <dl class="calculation">
                    <f:for each="{dovoljenje.stroskiPostopka}" as="strosekPostopka">
                        <dt>{strosekPostopka.nazivStroska}</dt>
                        <dd><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{strosekPostopka.znesek}</f:format.currency></dd>
                        <div class="clear"></div>
                    </f:for>
                    <dt class="total"><f:translate key="tx_a3ekt_domain_model_dovoljenje.skupaj" /></dt>
                    <dd class="total"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="."><ekt:stroskiPostopka stroskiPostopka="{dovoljenje.stroskiPostopka}" /></f:format.currency></dd>
                </dl>
            </div>
        </f:if>

        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.koraki_postopka" /></h3>
            <ul class="steps">
                <f:for each="{dovoljenje.korakiPostopka}" as="korakPostopka" iteration="korakPostopkaIterator">

                    <f:if condition="{korakPostopkaIterator.isLast}">
                        <f:then>

                            <f:if condition="{korakPostopka.terminskiRok}">
                                <f:then>
                                    <li class="last" title="{f:translate(key: 'tx_a3ekt_domain_model_dovoljenje.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                                </f:then>
                                <f:else>
                                    <li class="last">{korakPostopka.korak.naziv}</li>
                                </f:else>
                            </f:if>

                        </f:then>
                        <f:else>

                            <f:if condition="{korakPostopka.terminskiRok}">
                                <f:then>
                                    <li title="{f:translate(key: 'tx_a3ekt_domain_model_dovoljenje.terminski_rok')}: {korakPostopka.terminskiRok}">{korakPostopka.korak.naziv}</li>
                                </f:then>
                                <f:else>
                                    <li>{korakPostopka.korak.naziv}</li>
                                </f:else>
                            </f:if>

                        </f:else>
                    </f:if>

                </f:for>
            </ul>
        </div>

        <div class="module">
            <h3><f:translate key="tx_a3ekt_domain_model_dovoljenje.register_dovoljenj" /></h3>
            <ul class="links">
                <f:for each="{dovoljenje.registerDovoljenj}" as="registerDovoljenj">
                    <li class="external"><f:link.external uri="{registerDovoljenj.url}" target="_blank">{registerDovoljenj.naziv}</f:link.external></li>
                </f:for>
            </ul>
        </div>
    </aside>

</f:section>